.movie_list{
  display: grid;
  /* 동일한 가로비율로 2칸 지정 */
  /* grid-template-columns: 1,1fr; */
  grid-template-columns: repeat(2, 1fr);
  /* grid는 표구조이므로 gap만클 줄이지않아도됨 */
  gap: 20px 15px;
  margin-top: 10px;
}