.movie_btn {
  display: flex;
  border-left: 1px solid #666;
}
.movie_btn button {
  height: 30px;
  border: 1px solid #666;
  border-left: none;
  padding: 0 15px;
  background: #eee;
}
.movie_btn button.active{
  background: #666;
  color: #fff;
}